    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: helvetica;
    }
    
    html,
    body {
        height: 100%;
    }
    
     :root {
        --font-branca: white;
    }
    
    .flex {
        display: flex;
    }
    
    .center {
        justify-content: center;
        align-items: center;
    }
    
    header {
        width: 100%;
        height: 40px;
        background-color: #212121;
        justify-content: space-around;
        align-items: center;
    }
    
    header,
    h1 {
        color: var(--font-branca);
        font-size: 16px;
    }
    
    a {
        width: 100px;
        height: 30px;
        border-radius: 20px;
        margin-left: 15px;
        text-decoration: none;
        cursor: pointer;
        color: var(--font-branca);
    }
    
    .orange {
        background-color: orange;
    }
    
    .hover:hover {
        cursor: pointer;
        background-color: red;
    }
    
    main {
        width: 600px;
        height: 600px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    div {
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    fieldset {
        padding: 2px;
        border: none;
        display: flex;
        font-size: 12px;
    }
    
    form {
        width: 100%;
        height: auto;
        padding: 2px;
    }
    
    p {
        width: 300ppx;
        height: 200px;
        padding: 10px;
        border-right: 2px dotted;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    input {
        width: 300px;
        height: 40px;
    }
    
    #enviar {
        width: 300px;
        height: 40px;
        margin-top: 5px;
        margin-left: 2px;
    }
    
    footer {
        width: 100%;
        height: 80px;
        background-color: #212121;
        margin: 0 auto;
        color: white;
        position: absolute;
        bottom: 0;
        color: var(--font-branca);
        font-size: 16px;
    }